body 
{
    margin: 0;
    padding: 0;
    background-color: white;
    font-size: 16px;
    font-family: "Whitney A", "Whitney B", "Avenir", Helvetica, sans-serif;
    color: #363945;
    -webkit-font-smoothing: antialiased;
}
/***footer***/
/*footer 
{
    position: relative;
    text-align: center;
    z-index: 100;
}*/
footer 
{
    height: 453px;
    background-color: #2A2D35;
}
footer .pieds-page 
{
    z-index: 100;
    margin: 0 auto;
    /* height: 100%; */
    /* position: relative; */
    padding: 47px 60px 25px;
    /* background-color: #2A2D35; */
    display: flex;
    justify-content: space-between;
}
 footer, header, main, nav, section 
{
    display: block;
}
ul
{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

footer .pieds-page ul 
{
    list-style-type: none;
    padding-left: 0px;
}
footer .pieds-page .links>li.logo 
{
    flex: 3;
}
footer .pieds-page .links>li 
{
    flex: 1;
    text-align: left;
    padding-right: 1em;
}
.pieds-page a 
{
    color: #b2b9c1;
    text-decoration: none;
    font-size: 16px;
}
footer p, .pieds-page h3
{
    color: white;
}
footer .pieds-page li, footer .pieds-page p 
{
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    -webkit-font-smoothing: antialiased;
}
footer .pieds-page .links>li.logo p.tagline 
{
    font-size: 1.6em;
    line-height: 1.3em;
    font-weight: 500;
    width: 70%;
}
.pieds-page p, .pieds-page h3 
{
    font-family: "Walsheim", sans-serif;
}
footer .pieds-page .footer-social 
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
footer .pieds-page h3 
{
    font-size: 17px;
    margin-top: 0;
    margin-bottom: 8px;
}
h3 {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
footer .pieds-page .footer-social p 
{
    font-size: 1.2em;
    padding-right: 20px;
}
p 
{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
footer .pieds-page .footer-social a 
{
    color: #3ea9f5;
}
a:-webkit-any-link
{  
    cursor: pointer;
}
footer .pieds-page .links>li ul 
{
    margin-top: 11px;
}
footer .pieds-page .links>li ul li 
{
    display: block;
    margin-top: 6px;
    margin-bottom: 7px;
    line-height: 22px;
}
footer .pieds-page .links>li ul a 

{
    font-size: 15px;
}

footer .footer-copyright 
{
    color: #b2b9c1;
    font-family: "Walsheim", sans-serif;
}
.pieds-page .footer-copyright 
{
    color: #b2b9c1;
    margin: 3em 0;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}

footer .pieds-page .footer-copyright a 
{
    color: #9CA8B7;
}

footer .footer-divider
 
{
    background-color: #50545c;
    color: #efefef;
    margin: 3em 0 1em;
    height: 1px;
    border: 0;
}
.footer-copyright
{
    color: #b2b9c1;
    font-family: "Walsheim", sans-serif;
    margin: 3em 0;
    text-align: center;
    font-weight: 500;
    font-size: 17px;
}

.footer-copyright a
{
    color: #9CA8B7;
    text-decoration: none;
}

/****Body*****/
.bloc1
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    position: relative;
    background-color: #CEA0AF;
}
.hero-message
{
    max-width: 500px;
    flex: 1 1 500px;
    padding: 3em 0.6em;
}
.hero-message h1
{
    color: #363945;
    font-size: 2.6em;
    font-weight: 400;
    margin-bottom: 40px;
}
.hero-message h1 span 
{
    color: #fff;
}
.button
{
    font-size: 20px;
    width: 200;
    height: 50;
    background-color: #efefef; 
    border-radius: 5px;
}
.button a
{
    text-decoration: none;
}
.myboxes
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 0 auto;
}
.myboxes .box:nth-child(1) 
{
    background-color: #FED24A;
}
.myboxes .box:nth-child(2) 
{
    background-color: #51C29F;
}
.myboxes .box:nth-child(3) 
{
    background-color: #3EA9F5;
}
.myboxes .box
{
    flex: 1 1 300px;
    padding: 45px 58px 50px;
    display: flex;
    flex-flow: row wrap;
}
.update-bar 
{
    color: #777777;
    font-size: 18px;
    padding: 25px 40px;
    text-align: center;
    background-color: #e8e7e6;
}
video
{
    margin: 30px 0 0;
    flex: 1 1 500px;
    max-width: 650px;
}
.box h2 
{
    color: #fff;
    width: 100%;
    font-size: 23px;
    line-height: 30px;
    margin: 15px 0 10px;
}
.box .box-message
{
    line-height: 30px;
    font-size: 20px;
    margin-bottom: 25px;
    width: 100%;
}
.box .box-button
{
    margin: 0;
    display: block;
    align-self: flex-end;
    padding: 17px 16px;
    font-family: "Walsheim", sans-serif;
    color: #2A2D35;
    border-color: rgba(255,255,255,0.55);
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid rgba(255,255,255,0.55);
}
.brand-list
{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    margin: 60px auto;
    max-width: 1280px; 
}
.brand-list .brand-list-section
{
    flex: 1 0 400px;
    display: flex;
    max-width: 100%;
    flex-flow: row wrap;
}
.brand-list .brand-list-section .brand
{
    flex: 1 1 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}
.featured-blocks
{
    margin: 60px auto;
    display: flex;
    max-width: 1220px;
    flex-direction: row;
    flex-wrap: wrap;
    /*align-items: top;*/
    justify-content: space-between;
}
.featured-blocks .featured-block
{
    max-width: 340px;
}
.featured-block-image img
{
    max-width: 100%;
}
.featured-blocks .featured-block.featured-block-text
{
    flex: 2 1 350px;
}
.featured-blocks .featured-block .block-desc
{
    line-height: 28px;
    margin-bottom: 30px;
}
.featured-blocks .featured-block .featured-block-link
{
    color: #217AD5;
}

/*****header***/
.homepage
{   display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    font-family: "Whitney A","Whitney B","Avenir",Helvetica,sans-serif;
    text-align: center;
    z-index: 1;
    border-bottom: 1px solid #efefef;
    -webkit-font-smoothing: antialiased;
}
.logo-header
{
    border-left: 0;
    flex-shrink: 0;
    margin: 0;
    text-align: center;
    width: 28%;
    max-width: 287px;
}
.logo a
{
    height: 116px;
    width: 63.5%;
    margin: 0 auto;
    max-width: 180px;
    border-bottom: none;
}
.connexion
{
    display: flex;
    width: 25%;
    justify-content: space-between;
}
.barre-menu
{
    display: flex;
    border: 1px solid #efefef;
    height: 115px;
    width: 51%;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    padding-left: 30px;
}
.barre-menu a 
{
    text-decoration: none;
}
.barre-menu .barre-menu-niv1
{
    word-spacing: 20px;
}
